function SquareGame.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 100
push constant 150
push constant 70
call Barrier.new 3
pop this 2
push constant 1
push constant 20
push constant 70
call Barrier.new 3
pop this 3
push constant 400
push constant 150
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
call barrier.dispose 0
pop temp 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Square.moveUp 1
pop temp 0
label IF_FALSE0
push this 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Square.moveDown 1
pop temp 0
label IF_FALSE1
push constant 2
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.remained 0
push argument 0
pop pointer 0
push argument 1
push argument 2
call MathExtends.mod 2
return
function SquareGame.doRandom 1
push argument 0
pop pointer 0
push argument 1
push constant 11
call Math.multiply 2
push constant 12
add
pop argument 1
push pointer 0
push argument 1
push constant 200
call SquareGame.remained 3
pop local 0
push local 0
push constant 200
lt
push local 0
and
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
return
label IF_FALSE0
push constant 0
return
function SquareGame.doRandom2 1
push argument 0
pop pointer 0
push argument 1
push constant 11
call Math.multiply 2
push constant 12
add
pop argument 1
push pointer 0
push argument 1
push constant 200
call SquareGame.remained 3
pop local 0
push local 0
push constant 200
lt
push local 0
and
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
return
label IF_FALSE0
push constant 0
return
function SquareGame.moveBarrier 0
push argument 0
pop pointer 0
push this 2
push this 4
call Barrier.move 2
pop temp 0
push this 3
push this 4
call Barrier.move 2
pop temp 0
push constant 2
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 1
pop this 4
push constant 5
pop this 5
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
push pointer 0
call SquareGame.moveBarrier 1
pop temp 0
push pointer 0
push this 4
call SquareGame.doRandom 2
pop this 4
push pointer 0
push this 5
call SquareGame.doRandom2 2
pop this 5
push this 2
call Barrier.getX 1
push this 0
call Square.getX 1
eq
push this 2
call Barrier.getY 1
push this 0
call Square.getY 1
lt
and
push this 2
call Barrier.getY 1
push this 2
call Barrier.getSize 1
add
push this 0
call Square.getY 1
gt
and
push this 2
call Barrier.getX 1
push this 0
call Square.getX 1
eq
push this 2
call Barrier.getY 1
push this 0
call Square.getY 1
push this 0
call Square.getSize 1
add
lt
and
push this 2
call Barrier.getY 1
push this 2
call Barrier.getSize 1
add
push this 0
call Square.getY 1
push this 0
call Square.getSize 1
add
gt
and
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push this 3
call Barrier.getX 1
push this 0
call Square.getX 1
eq
push this 3
call Barrier.getY 1
push this 0
call Square.getY 1
lt
and
push this 3
call Barrier.getY 1
push this 3
call Barrier.getSize 1
add
push this 0
call Square.getY 1
gt
and
push this 3
call Barrier.getX 1
push this 0
call Square.getX 1
eq
push this 3
call Barrier.getY 1
push this 0
call Square.getY 1
push this 0
call Square.getSize 1
add
lt
and
push this 3
call Barrier.getY 1
push this 3
call Barrier.getSize 1
add
push this 0
call Square.getY 1
push this 0
call Square.getSize 1
add
gt
and
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 1
label IF_FALSE1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 1
label IF_FALSE2
push local 0
push constant 131
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
pop this 1
label IF_FALSE3
push local 0
push constant 133
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 2
pop this 1
label IF_FALSE4
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 27
call String.new 1
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
